/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*noinspection CssOverwrittenProperties*/
    font-size: 100%;
    /*noinspection CssOverwrittenProperties*/
    /*font: inherit;*/
    vertical-align: baseline;


}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    /*noinspection CssOverwrittenProperties*/
    content: '';
    /*noinspection CssOverwrittenProperties*/
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.float-wrapper:before,
.float-wrapper:after {
    content: "";
    display: table;
}

.float-wrapper:after {
    clear: both;
}

.float-wrapper {
    clear: both;
    *zoom: 1;
}


/*
  ========================================
  iOS support
  ========================================
*/

/* prevents long press popups from ruining everything 😡 */
img {
    -webkit-touch-callout: none;
}

/* prevents annoying selection of images that's common in iOS */
img {

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/*
  ========================================
  Text & Fonts
  ========================================
*/

html {
    font-family: 'Nunito','open sans', sans-serif;
    height: 100%;

    overflow-x: hidden;
}

body {
    font-size: 100%;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2.25em;
}

h5 {
    font-size: 2em;
}

h6 {
    font-size: 1.5em;
}

p {
    font-size: 1.5em;
}

input {
    font-size: 1.5em;
}

button {
    font-size: 1.5em;
    text-decoration: none;
}

/*
  ========================================
  Responsiveness
  ========================================
*/

@media (max-width: 450px) {
    footer p {
        font-size: 0.8em;
    }

}

@media (min-width: 451px) {
    footer p {
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 100%;
    }
    .column {
        width: 90%;
    }
    .generator-centre {
        width: 90%;
    }

    .value-selection-parent .scroll-button {
        visibility: hidden;
    }

}

@media (min-width: 601px) {
    body {
        font-size: 110%;
    }
    .column {
        width: 80%;
    }

    .generator-centre {
        width: 80%;
    }
}

@media (min-width: 993px) {
    body {
        font-size: 120%;
    }
    .column {
        width: 70%;
    }
    .generator-centre {
        width: 70%;
    }

    footer {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 130%;
    }
    .column {
        width: 60%;
    }
    .generator-centre {
        width: 60%;
    }

    footer {
        padding-left: 15%;
        padding-right: 15%;
    }
}


body {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.column {
    /*width: 90%;*/
    margin: 0 auto;

}


.app {
    flex: 1 0 auto;
    margin: 0;

}

/*
  ========================================
  Value selection
  ========================================
*/

.instructions {
    margin-top: 0.5em;
}

.value-selection-parent {
    position: relative;
    margin-bottom: 2em;
}

.value-selection {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    width: 100%;
    height: auto;
    min-height: 4em;
    overflow: scroll;
    padding: 0.5em 0;
}


.value-selection-parent .left {
    visibility: hidden;
}
.value-selection-parent .gradient-left {
    position: absolute;
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));
    left: 0;
    width: 1em;
    height: 100%;
    z-index: 1;
}

.scroll-button {
    position: absolute;
    background: white;
    box-shadow: rgba(0,0,0,0.25) 0.10em 0.10em 0.10em;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    z-index: 1;
}

.scroll-button:hover {
    cursor: pointer;
    transform: scale(1.15);
    transform-origin: 50% 50%;
}

.scroll-button i {
    display: block;
    color: #FF5722;
    width: 1em;
    height: 100%;
    margin:   0 auto;
    text-align: center;
    line-height: 2em;
}

.scroll-right i {
    padding-left: 0.125em;
}

.scroll-left i {
    padding-right: 0.125em;
}

.value-selection-parent .scroll-left {
    left: -3em;
    top: calc(50% - 1em);

}


.value-selection-parent .scroll-right {
    right: -3em;
    top: calc(50% - 1em);

}



.value-selection-parent .gradient-right {
    position: absolute;
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    width: 2em;
    height: 100%;
    z-index: 1;
}


.value-selection button {
    position: relative;
    padding: 0.5em;
    margin: 0.35em;
    background: #616161;
    color: white;
    font-size: 1em;
    font-family: 'Nanum Myeongjo', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.125em;
    border: none;
}

.value-selection button:focus {
    outline: none;
    /*box-shadow: 0 0 0.25em 0.25em #FF5722;*/
}

.value-selection button p {
    font-size: inherit;
}



.value-selection button:hover {
    transform: scale(1.1);
    transition: all 0.2s;
    cursor: pointer;
}

.value-selection button .bolt {
    position: absolute;
    width: 0.25em;
    height: 0.25em;
    border-radius: 100%;
    background: #757575;
}

.value-selection button .bolt.top-left {
    top: 0.25em;
    left: 0.25em;
}

.value-selection button .bolt.top-right {
    top: 0.25em;
    left: calc(100% - 0.5em);
}

.value-selection button .bolt.bottom-right {
    top: calc(100% - 0.5em);
    left: calc(100% - 0.5em);
}

.value-selection button .bolt.bottom-left {
    top: calc(100% - 0.5em);
    left: 0.25em;
}


/*
  ========================================
  Generator structure
  ========================================
*/

.generator {
    display: flex;
    flex-direction: row;
}

.generator-centre {
    margin: 0 auto;

}

.pipes {
    margin-top: 3em;
    flex-grow: 1;
    position: relative;
    align-self: center;
    /*display: flex;*/
    /*justify-content: space-evenly;*/
    /*flex-direction: column;*/
}

/*
  ========================================
  Pipes
  ========================================
*/

.pipe {
    position: relative;
    width: 100%;
    height: 3em;
    margin: 1em 0;
    background: linear-gradient(#9E9E9E, #424242 45% , #212121 85%);
    display: flex;
    flex-direction: row;
}

.pipe.large {
    height: 5em;
    margin: 2em 0;
}

.pipe.small {
    height: 1.5em;
    margin: 0.5em 0;
}

.pipe-joint {
    position: relative;
    margin: 0 auto;
    width: 0.5em;
    height: calc(100% + 0.25em);
    top: -0.125em;
    background: linear-gradient(#757575, #424242 45% , #212121 85%);;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.125em;
    box-shadow: rgba(0,0,0,0.5) 0.05em 0.05em 0.05em;

}

.pipe-joint .bolt {
    background-color: #616161;
    position: relative;
    width: 0.25em;
    height: 0.25em;

}




/*
  ========================================
  Top of Generator
  ========================================
*/

.generator-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.funnel {
    position: relative;
    /*margin-top: 0.25em;*/
    height: 3em;
    width: 18em;
    background: linear-gradient(145deg, #9E9E9E, #424242 35%, #212121);
    margin-left: 2em;
    border-radius: 0% 0% 30% 30% / 0% 0% 100% 100% ;

}

.smoke-stack {
    height: 3em;
    width: 5em;
    /*margin-top: 0.25em;*/

    margin-right: 2em;
    /*background-color: #424242;*/
    border-radius: 15% 15% 0% 0% / 15% 15% 0% 0% ;
    background: linear-gradient(90deg, #9E9E9E, #424242 35%, #212121);
}


.particle-parent {
    height: 3em;
    width: 5em;
    position: absolute;
}

.particle {
    position: absolute;
    left: calc(50% - 0.5em);
    top: 5%;
    transition: all 3s;
    opacity: 1;
    z-index: -999;
    color: #FF5722;
    font-size: 1.5em;
}


/*
  ========================================
  Generator centre
  ========================================
*/


.generator-body {
    display: block;
    background-color: #616161;
    border-radius: 0.125em;
    transition: all 1s;
}

.generator-body .plaque {
    width: calc(100% - 3em );
    position: relative;
    display: inline-block;
    margin: 1.5em 1.5em 1em 1.5em;
    border-radius: 0.125em;
    background: #424242;
    box-shadow: rgba(0,0,0,0.5) 0.125em 0.125em 0.125em;
}

.generator-body h5 {
    /*color: #BDBDBD;*/
    color: #FF5722;
    text-shadow: 0 0 0.25em #DD2C00;
    padding: 0.5em;
    font-family: 'Nanum Myeongjo', serif;;
}


.bolt {
    position: absolute;
    width: 0.375em;
    height: 0.375em;
    border-radius: 100%;
    background: #757575;
    box-shadow: rgba(0,0,0,0.25) 0.05em 0.05em 0.05em;

}

.bolt.top-left {
    top: 0.375em;
    left: 0.375em;
}

.bolt.top-right {
    top: 0.375em;
    left: calc(100% - 0.75em);
}

.bolt.bottom-right {
    top: calc(100% - 0.75em);
    left: calc(100% - 0.75em);
}

.bolt.bottom-left {
    top: calc(100% - 0.75em);
    left: 0.375em;
}


/*
  ========================================
  Value controls
  ========================================
*/



.value-control-container {
    margin: 0 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: all 0.5s;
    min-height: 4em;
}

.value-icon {
    position: relative;
    color: #212121;
    transition: all 0.25s;
}
.value-icon:hover {
    color: #FF5722;
    text-shadow: 0 0 0.5em #DD2C00;
}

.value-icon:hover .tooltip{
transform: scale(1);
    text-shadow: none;

}

.value-icon .tooltip {
    position: absolute;
    min-width: 5em;
    padding: 0.25em;
    background: #424242;
    top: -3em;
    left: -2.5em;
    border: #FF5722 0.125em solid;
    box-shadow: 0 0 0.5em #DD2C00;
    border-radius: 0.5em;
    font-family: 'Nanum Myeongjo', sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: #BDBDBD;
    z-index: 10000;
    transform: scale(0);
    transform-origin: 50% 100%;
    transition: all 0.15s;
}

.value-icon .tooltip:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 0.875em solid transparent;
    border-top-color: #424242;
    border-bottom: 0;
    margin-left: -0.875em;
    margin-bottom: -0.875em;
}

.value-icon .tooltip:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 1em solid transparent;
    border-top-color: #FF5722;
    border-bottom: 0;
    margin-left: -1em;
    margin-bottom: -1.1em;
}

.value-control {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.delete {
    color: #212121;
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s;
}

.value-control:hover .delete {
    opacity: 1;
}


.delete:hover  {

    color: #FF5722;
    text-shadow: 0 0 0.5em #DD2C00;
}

/*
========================================
sliders
========================================
*/

input[type=range] {
    /* Override default CSS styles */
    /*font-size: 100%;*/

    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border-radius: 1em;
    height: 0.25em;
    width: 6em;
    background: #212121;
    outline: none;
    margin: 0 0.5em;
    z-index: 9999;
}


/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1em;
    height: 1em;
    background: #616161;
    cursor: pointer;
    border: 0.1rem white solid;
    border-radius: 25%;
    transition: all 0.2s;


}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1em;
    height: 1em;
    background: #616161;
    cursor: pointer;
    border: 0.1rem white solid;
    border-radius: 25%;
    transition: all 0.2s;

}

input[type=range]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    background: #FF5722;;
    box-shadow: 0 0 0.25em #DD2C00;

    /*width: 1.25em;*/
    /*height: 1.25em;*/
}

input[type=range]::-moz-range-thumb:hover {
    /*width: 1.25em;*/
    /*height: 1.25em;*/
}

input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .1);
}

input[type=range]::-moz-range-thumb:active {
    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .1);
}

/*
========================================
Generate button
========================================
*/

.generator-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#generate-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-top: 4em;
}

#generate-button.disabled {
    pointer-events: none;
    opacity: 0.75;
}

#generate-button.disabled .generate-plaque {
    box-shadow: none;
}


#generate-button .gear {
    position: absolute;
    top: -0.5em;
    left: 0.4em;
    color: #212121;
    font-size: 6em;
    transform: rotate(0deg);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


#generate-button .gear-center {
    position: absolute;
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    top: -1.5em;
    left: 4em;
    background-color: #616161;
    transition: all 0.2s;

}

#generate-button:hover .gear-center {
    background-color: #FF5722;
    box-shadow: 0em 0em 2em 0.5em #DD2C00;
}

#generate-button .lever {
    position: absolute;
    top: -0.275em;
    left: 0.1875em;
    color: #212121;
    font-size: 6em;
    transform-origin: 72% 28%;
    transform: rotate(74deg);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

#generate-button.activated .gear {
    transform: rotate(140deg);
}

#generate-button.activated .lever {
    transform: rotate(204deg);
}

.generate-plaque {
    position: relative;
    display: inline-block;
    padding: 0.5em;
    background: #424242;
    line-height: normal;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    border-radius: 0.125em;
    box-shadow: rgba(0,0,0,0.5) 0.125em 0.125em 0.125em;
}

#generate-button p {
    width: auto;
    /*height: 4em;*/
    color: #BDBDBD;
    padding: 0.5em;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    transition: all 0.2s;
}

#generate-button:hover p {
    color: #FF5722;
    text-shadow: 0 0 0.25em #DD2C00;

}

/*
========================================
Furnace output
========================================
*/


.name-output {
    /*display: inline-block;*/
    position: relative;
    margin: auto;
    width: 70%;
}

.output-frame {
    position: relative;
    /*display: inline-block;*/
    border-radius: 0.125em;
    box-shadow: rgba(0,0,0,0.5) 0.125em 0.125em 0.125em;
    background-color: #424242;
    height: 5em;
    margin: 1em;
}

.output-frame .bolt {
    width: 0.3em;
    height: 0.3em;
}

.output-frame .top-left.bolt {
    top: 0.25em;
    left: 0.25em;
}
.output-frame .top-right.bolt {
    top: 0.25em;
    left: calc(100% - 0.5em);
}
.output-frame .bottom-right.bolt {
    top: calc(100% - 0.5em);
    left: calc(100% - 0.5em);

}
.output-frame .bottom-left.bolt {
    top: calc(100% - 0.5em);
    left: 0.25em;
}

.output-door {
    position: absolute;
    background-color: #212121;
    top:0;
    margin: 0.75em;
    width: calc(100% - 1.5em);
    height: 3.5em;
    transform: scale(1);
    transition: all 1s;

}

.output-frame.open .output-door  {
    height: 0;

}

.output-glow {
    position: absolute;
    background-color: #FF5722;
    box-shadow: #DD2C00 0 0 1.5em 0.25em;
    bottom:0;
    margin: 0.75em;
    width: calc(100% - 1.5em);
    height: 0.125em;
    z-index: 1;
    transition: all 1s;
}

.output-frame.open .output-glow  {
    height: 3.5em;

}

/*
========================================
Conveyor
========================================
*/

.conveyor {
    position: relative;

}

.belt {
    position: relative;
    top: -1.75em;
    height: 3em;
    width: 100%;
    background: #424242;
    clip-path: polygon(6% 0, 94% 0, 100% 100%, 0 100%);
    /*filter: dropShadow( 50px 50px 50px #DD2C00);*/
}

/*.belt .line {*/
    /*position: absolute;*/
    /*height: 0.5em;*/
    /*width: 89.5%;*/
    /*!*top:0;*!*/
    /*!*width: 93.5%;*!*/
    /*top:2.1em;*/
    /*margin: 0 auto;*/
    /*background-color: #212121;*/
/*}*/

.belt-inside {
    position: absolute;
    left: 1em;
    height: 3em;
    width: calc(100% - 2em);
    background-color: #212121;
    clip-path: polygon(6% 0, 94% 0, 100% 100%, 0 100%);
    background-image: url("../img/roller.gif") ;
    background-size: contain;
}




.belt-roller {
    position: absolute;
    top: 1.15em;
    left: -0.25em;
    height: 4em;
    width: calc(100% + 0.5em);
    background: #424242;
    border-radius: 1.35% 1.35% 4% 4% / 50% 50% 50% 50%;
}

.belt-roller-inside {
    position: absolute;
    top: -0.1em;
    left: 1em;
    height: 4em;
    width: calc(100% - 2em);
    background: #212121;
    border-radius: 1.75% 1.75% 4% 4% / 50% 50% 50% 50%;
    background-image: url("../img/roller.gif") ;
    background-size: contain;

}


/*
========================================
Output tray
========================================
*/

.output-tray {
    position: absolute;
    width: 100%;
    height: 6em;

    background: #424242;
    margin-top: 2em;
    clip-path: polygon(6% 0, 94% 0, 100% 100%, 0 100%);
    /*z-index: -10;*/
}

.output-tray .left-panel {
    position: absolute;
    left: 0;
    background: #757575;
    width: calc(50% - 0.75em);
    height: calc(100% - 1.5em);
    margin: 0.75em;
    margin-right: 0;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    transition: all 1s;
}

.output-tray .right-panel {
    position: absolute;
    top:0;
    right: 0;
    background: #757575;
    width: calc(50% - 0.75em);
    height: calc(100% - 1.5em);
    margin: 0.75em;
    margin-left: 0;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    transition: all 1s;
}

.output-tray .abyss {
    position: absolute;
    top:0;
    right: 0;
    background: #212121;
    width: calc(100% - 1.5em);
    height: calc(100% - 1.5em);
    margin: 0.75em;
    margin-left: 0;
    clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);
    transition: all 1s;
}

.output-tray.open .left-panel {
    /*width: 0;*/
    clip-path: polygon(10% 0, 15% 0, 5% 100%, 0 100%);
}

.output-tray.open .right-panel {
    /*width: 0;*/
    clip-path: polygon(85% 0, 90% 0, 100% 100%, 95% 100%);
}




h5.result {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 1.25em;
    margin: 0;
    padding: 0;
    z-index: 100;
    color: #FFE0B2;
    transition: all 1s;

}


footer {
    height: 3em;
    flex-shrink: 0;
    margin-top: 8em;
    background-color: #FF5722;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer p {
    color: white;
    /*font-size: 1em;*/
}

footer>p {
    width: auto;
    max-width: 50%;

}

footer a {
    max-width: 50%;
    text-decoration: none;
}

footer a:hover p {
    color: #FFE0B2;
}

footer a::selection p {
    color: #FFCC80;
}